#  This file is part of systemd.

[Unit]
Description=Rock start script
Requires=network.target
Conflicts=rescue.service rescue.target
After=multi-user.target rescue.service rescue.target
AllowIsolate=True
