# Dockerfile for Kafka

FROM java:openjdk-8-jre

wget -q http://apache.mirrors.spacedump.net/kafka/{{ kafka_maj_vsn }}/kafka_{{ kafka_vsn }}.tgz -O /tmp/kafka-{{ kafka_vsn }}.tgz && \
mkdir -p {{ kafka_install_dir }} \

# The option strip-components removes the top level folder. Normally this would be something like kafka_vsnXXXXX
# This makes it so the top level is just kafka
tar xzf /tmp/kafka-{{ kafka_vsn }}.tgz -C {{ kafka__install_dir }} --strip-components 1 \

rm -f /tmp/kafka-{{ kafka_vsn }}.tgz
