---

version: '2'
services:
  kafka:
    image: rocknsm/kafka
    container_name: 'rock-kafka'
    ports:
      - {{ kafka_port }}:{{ kafka_port }}
    environment:
      - container=docker
      
...
