---

version: '2'
services:
  kafka:
    image: rocknsm/kafka
    container_name: {{ kafka_container_name }}
    ports:
      - {{ kafka_port }}:{{ kafka_port }}
    environment:
      - container=docker

networks:
  default:
    external:
      name: 'rocknsm_inside'

...
