# Dockerfile for Kafka

FROM centos/systemd

# Prepare the environment and get things up to date
RUN yum update -y; \
  yum install -y kafka; \
  rm -rf /var/cache/yum/*; \
  rm -f /lib/systemd/system/multi-user.target.wants/*;\
  rm -f /etc/systemd/system/*.wants/*;\
  rm -f /lib/systemd/system/local-fs.target.wants/*; \
  rm -f /lib/systemd/system/sockets.target.wants/*udev*; \
  rm -f /lib/systemd/system/sockets.target.wants/*initctl*; \
  rm -f /lib/systemd/system/basic.target.wants/*;\
  rm -f /lib/systemd/system/anaconda.target.wants/*; \
  systemctl enable kafka;

# Setup for Systemd
VOLUME ["/sys/fs/cgroup"]

EXPOSE {{ kafka_port }}

# For systemd? #stole this from lighttpd, not sure what it is for
CMD ["/usr/sbin/init"]
