#  This file is part of systemd.

[Unit]
Description=Rock start script
Requires=network.target
{% if with_zookeeper %}
Wants=zookeeper.service
{% endif %}
{% if with_elasticsearch %}
Wants=elasticsearch.service
{% endif %}
{% if with_kafka %}
Wants=kafka.service
{% endif %}
{% if with_logstash %}
Wants=logstash.service
{% endif %}
{% if with_kibana %}
Wants=kibana.service
{% endif %}
{% if with_suricata %}
Wants=suricata.service
{% endif %}
{% if with_snort %}
Wants=snort.service
{% endif %}
{% if with_bro %}
Wants=bro.service
{% endif %}
{% if with_stenographer %}
Wants=stenographer.service
{% endif %}
{% if with_fsf %}
Wants=fsf.service
{% endif %}

[Service]
Type=simple
ExecStart=/usr/local/bin/rock_start
ExecStop=/usr/local/bin/rock_stop
ExecReload=/usr/local/bin/rock_stop && /usr/local/bin/rock_start
Restart=on-failure

[Install]
WantedBy=multi-user.target
